/* # Sidebar
================================================== */

.sidebar-section {

  @include respond-to('medium-down') {
    width: 100% !important; //to overwrite desktop styles set inside of section

    @liquid-if "settings.mobile_sidebar_position == 'above'" {
      order: 0;
    } @liquid-else {
      order: 1;
    }

    & + .has-sidebar-option {
      width: 100% !important; //to overwrite desktop styles set inside of section
    }
  }
}

.product-sidebar--mobile-above {
  padding-bottom: 40px;
}

.product-sidebar--mobile-below {
  padding-bottom: 20px;
}

.sidebar-block__heading {
  cursor: default;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar-block__search {
  padding-top: 1rem;
}

.sidebar__block {
  &.sidebar-toggle-active {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.sidebar-block__toggle + .sidebar-block__content {
  padding-top: 1rem;
}

// Sidebar Toggling
.sidebar-block__toggle-icon {
  position: absolute;
  right: 0;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background: transparent;

  &:focus {
    outline: 0;
  }
  .icon {
    color: $black;
    transition: transform 0.2s linear;
  }
}

// Hide second toggle icon by default
.icon-style--plus_and_minus .icon.icon--active + .icon {
  display: none;
}

.sidebar-toggle-active.is-active {

  .icon-style--carets .icon {
    transform: rotate(180deg);
  }

  .icon-style--plus_and_minus .icon.icon--active {
    display: none;

    + .icon {
      display: block;
    }
  }

}

[data-sidebar-block__content--collapsible] {
  display: none;
}

.sidebar-block__recent-post {
  margin-bottom: 10px;
  .label {
    font-weight: normal;
  }
}

.block__featured-promo {

  @include respond-to('medium-up') {
    width: 75%;
  }

  .card-content {
    padding: 20px;
  }

  .sidebar__promo-content {
    margin-left: 0;
  }
}

.block__newsletter {
  .newsletter-section {
    width: 100%;
  }
  .newsletter__wrapper {
    max-width: 100%;
  }
  .newsletter__text {
    color: inherit !important; // Inherit color of parent section
  }
}

.block__menu {

  .sidebar-block__item {
    margin-bottom: 5px;
  }
}

.block__tag-filter {

  .tag-filter__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .tag-filter__label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: $link;
    transition: 0.2s linear;
    display: flex;
    align-items: center;

    &:hover {
      color: $link-hover;
    }
  }

  .tag-filter__item.is-active .tag-filter__label {
    cursor: initial;
    color: initial;

    &:hover {
      color: initial;
    }
  }

  .tag-filter__checkbox--regular {
    display: none;
  }

  .tag-filter__swatch {
    appearance: none;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-size: cover;
    margin-right: 10px;
    font-size: 0;
    border: 1px solid liquid-object("settings.border_color");

    @liquid-if "settings.swatch_style != 'square'" {
      border-radius: 50%;
    }

    input[style*="no-image-50"],
    input.swatch__image--empty {
      opacity: 0;
    }
  }

  .tag-filter__checkbox--swatch {
    appearance: none;
    width: 100%;
    height: 20px;
    cursor: pointer;
    background-position: center;
    background-size: cover;

    @liquid-if "settings.swatch_style != 'square'" {
      border-radius: 50%;
    }
  }
}

// Faceted filters

.faceted-filter-form .clear-filter {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
}

.faceted-filter-group-summary__active-count {
  margin: 0 auto 0 0.5rem;
}

.faceted-filter-form {
  margin: 0;
}

.faceted-filter-group-display {
  margin: 0 0 20px;
}

.faceted-filter-group-display__header,
.sidebar-block__heading {
  display: flex;
  justify-content: space-between;
}

.faceted-filter-group-display__header {
  margin-bottom: 10px;
}

ul.faceted-filter-group-display__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.faceted-filter-group-display__list-item {
  margin-top: 0.313rem;
}

.faceted-filter-group-display__list-item-input {
  position: absolute;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

.faceted-active-filters__remove-filter {
  word-break: break-word;
}

.faceted-filter-group-display__list-item-label {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
}

.faceted-filter-group-display__list-item-label-text {
  padding-left: 12px;
  font-size: 15px;
  font-weight: initial;
  color: $link;
  word-break: break-word;

  &:hover {
    color: $link-hover;
    cursor: pointer;
  }

  .faceted-filter-group-display__list-item-input:checked ~ & {
    font-weight: bold;
  }
}

.faceted-filter-group-display__list-item-input:disabled {
  ~ * {
    pointer-events: none;
    opacity: 0.5;
  }
}

.faceted-filter-group-display__checkmark {
  stroke-width: 2;
  border: 1px solid liquid-object("settings.border_color");
  transition:
    border-color 100ms,
    background 100ms;

  .faceted-filter-group-display__list-item-input:focus ~ & {
    box-shadow:
      0 0 0 2px liquid-object("settings.shop_bg_color"),
      0 0 0 4px liquid-object("settings.link_color");
  }

  .faceted-filter-group-display__list-item-input:checked ~ & {
    stroke: liquid-object("settings.shop_bg_color");
    background: liquid-object("settings.link_color");
    border-color: liquid-object("settings.link_color");
  }

  .faceted-filter-group-display__list-item-input:disabled ~ * & {
    pointer-events: none;
  }
}

.faceted-filter-group-display__price-range {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.faceted-filter-group-display__price-range-from,
.faceted-filter-group-display__price-range-to {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 5px;

  .faceted-filter-group-display__price-range-input {
    margin: 0;
    padding: 10px;
  }
}


.faceted-filter-group-display__price-range-label {
  grid-column: span 2;
  margin: 0;
  font-weight: bold;
}

.faceted-filter-group-display__submit {
  margin-top: 20px;
}

.faceted-filter-group-display__list-submit {
  .js & {
    display: none;
  }
}

.faceted-active-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15px 0;
  border-bottom: 1px solid liquid-object("settings.border_color");

  .sidebar-block--first & {
    padding-top: 0;
  }
}
