/* # Top bar
================================================== */

.top-bar {
  position: relative;
  z-index: 80;

  @include respond-to('medium-down') {
    display: none;
  }

  .header-section ~ & {
    z-index: 60;
  }

  // This is when the top-bar is below the header and the site overlay is applied.
  .scroll-locked .header-section ~ & {
    z-index: 0;
  }
}

.top-bar .navbar-item {
  flex: 1 1 auto;
  text-align: center;
}

.top-bar__text {
  min-width: 25%;
}

.top-bar__item,
.top-bar.disclosure-enabled .top-bar__item {
  display: flex;
  align-items: center;

  &:first-child {
    flex: 1 1 auto;
    justify-content: flex-start;
  }

  &:last-child {
    flex: 0 0 auto;
    justify-content: flex-end;
  }
}

.top-bar.disclosure-enabled .top-bar__item {
  flex: 1 1 auto;

  &.top-bar__social-media {
    flex: 1 1 auto;
    justify-content: flex-end;

    .navbar-item {
      width: 100%;
      padding-right: 20px;
      flex: 1 1 auto;
    }
  }
}

.top-bar__menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  @include respond-to('medium-down') {
    justify-content: center;
  }
}

.top-bar__social-media {

  a {
    line-height: 0;
    margin: 5px;
    display: block;
  }

  .social-icons {

    @include respond-to('medium-down') {
      justify-content: center;
    }
  }
}

.top-bar__icons.cart--hidden {
  padding-right: 20px;
}

.top-bar__content {

  .header__currency-dropdown select {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  .header__icon-style-text .header__currency-dropdown select {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    line-height: inherit;
  }
}
