/* # Size chart
================================================== */

.size-chart {
  display: none;

  @include respond-to('medium-down') {
    width: 100%;
    padding: 0;
  }

  .fancybox-close-small svg {
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
  }
}

.size-chart-wrap {
  flex: 1 0 60%;
  max-width: 900px;
  position: relative;
  padding: 40px;

  @include respond-to('medium-down') {
    padding: 10px;
  }

  &.animated {
    opacity: 0;
  }
}


.product__size-chart {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  margin: 0.5rem 0;
  border-bottom: 1px solid $link;
  transition:
    color $transition-speed ease-in-out,
    border $transition-speed ease-in-out;

  &:hover {
    border-bottom: 1px solid $link-hover;
  }
}
